body
{
  background-color: #000;
  padding: 1%;
  color: #ccc;
  height:101%;
  overflow-y: auto;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1em;
}

.console
{
  font-family: "Lucida Sans Typewriter", "Lucida Console", Monaco, "Bitstream Vera Sans Mono", monospace;
  overflow-y:auto;
}

a {
		color: #0bc;  /* blue */
		text-decoration: none;
	}
	#a {
		color: #0f0; /* green */
	}
	#b {
		color: #ff0096; /* pink for ~ symbol*/
	}
  #c {
		color: #0bc;   /* blue */
	}
  #d {
    color: #ff0000;
    text-align: center;
    font-weight: bold;
  }
  #e {
    color: #3366ff;
    text-align: center;
    font-weight: bold;
  }
  #f {
    color: #0bc; 
    text-align: center;
    font-weight: bold;
  }



